.hd
{
  text-align: center;
  font-family: 標楷體;
}
a:link
{
text-decoration:none;
color:black;
}
a:vist
{
 color:black;
}
a:hover
{

	color:black;
}
a:active
{
	color:black;
}

 color:black;
}
a:active
{
 color:black;
}

