.hd
{
  text-align: center;
  font-family: 標楷體;
}
a:link
{
text-decoration:none;
color:black;
}
a:vist
{
 color:black;
}
a:hover
{
 color:black;
}
a:active
{
 color:black;
}
.ti01
{
	padding: 90px;
	font-size: 30px;
	font-family: 標楷體;
}
