
html,body{height: 100%; margin:0;}  
.end
{
  background:#DEB887;
  text-align: center;
    line-height:30px;
    width:1263px;
    font-size:15px; 
    font-family: 微軟正黑體;

}


footer
{   position: absolute;
    bottom: 0;
    width: 100%;

}
