/*影片介紹*/

.title
{
	margin-top: 10px;
	margin-left: 170px;
	margin-right: 120px;
	text-align: left;
	font-family: 微軟正黑體;
	font-size: 23px;
	color: #8F5D00;
	font-weight: bold;
}

.video01
{
	position:absolute;
    left:550px;
    top:250px;
}

html, body{height:100%;}  
.end
{
  background:#DEB887;
  text-align: center;
    line-height:30px;
    width:1263px;
    font-size:15px; 
    font-family: 微軟正黑體;

}

html,body{height: 100%; margin:0;}
footer
{   position: relative;
    bottom: 0;
    width: 100%;
    top:500px;
}

